#content span {
	display: inline-block;
}

#content div:not(:last-child) {
	margin-bottom: 1.5em;
}

.collapsable {
	vertical-align: top;
}

.FunctionExpression > .body,
.FunctionDeclaration > .body {
	vertical-align: top;
}

.SwitchStatement .cases {
	vertical-align: top;
}

.SwitchCase > .consequent {
	vertical-align: top;
}

.ConditionalExpression {
    vertical-align: top;
}

.ConditionalExpression > .test {
	vertical-align: top;
}

.VariableDeclaration > .declarations {
	vertical-align: top;
}

.ObjectExpression > .properties > .collapsable {
	margin-top: -1em;
    background: rgba(102, 176, 204, 0.2);
    vertical-align: top;
    padding: 1em;
    border-radius: 4px;
}

.BlockStatement > .body > .collapsable:empty,
.BlockStatement > .body > .collapsable:empty + .collapsable-switcher,
.ArrayExpression > .elements > .collapsable:empty,
.ArrayExpression > .elements > .collapsable:empty + .collapsable-switcher,
.ObjectExpression > .properties > .collapsable:empty,
.ObjectExpression > .properties > .collapsable:empty + .collapsable-switcher {
	display: none !important; /* 空对象不显示 */
}

.ConditionalExpression,
.SwitchStatement > .collapsable,
.BlockStatement > .body > .collapsable {
	/*outline: solid 1px rgba(197, 197, 197, 0.2);*/
	border-radius: 4px;
	margin-top: -1em;
    background: rgba(162, 162, 162, 0.05);
    vertical-align: top;
    padding: 1em;
}

.CallExpression > .callee > .Identifier ,
.FunctionExpression > .name > .Identifier,
.FunctionDeclaration > .id > .Identifier {
	color: #6699CC !important;
}

/*对象中嵌套函数的时候，把色彩重置一下*/

.ObjectExpression .BlockStatement > .body > .collapsable {
	background: #393939;
}

.ObjectExpression .BlockStatement .BlockStatement > .body > .collapsable {
	background: rgba(162, 162, 162, 0.05);
}

.collapsable-switcher {
    background: #F2777A;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 8px;
    vertical-align: top;
    padding: 4px;
    margin: 0 2px;
}

.collapsable-switcher:hover {
    background: #ff8888 !important;
}

.collapsable-switcher.hidden {
	display: none !important;
}

/* Syntax Highlight */

.keyword {
	color: #CC99CC;
}

.keyword:hover {
	background: #515151;
}

.identifier {
	color: #F2777A;
}

.identifier:hover {
	background: #515151;
}

/*.MemberExpression > .property > .left-coll.square-bracket,
.MemberExpression > .property > .right-coll.square-bracket,*/
.operator {
	color: #66CCCC;
}

/*.MemberExpression > .property > .left-coll.square-bracket:hover,
.MemberExpression > .property > .right-coll.square-bracket:hover,*/
.operator:hover {
	background: #515151;
}

.Literal,
.TemplateLiteral {
	color: #F99157;
}

.Literal:hover,
.TemplateLiteral:hover {
    background: #515151;
}

.Literal.string {
	color: rgb(153,204,153);
}

.template-expression > .prefix,
.template-expression > .postfix {
	color: green;
}

.comma,
.colon,
.exp-brace {
	color: rgba(199, 199, 199, 0.3);
}

.exp-brace:not(.brace) {
	color: #c7c7c7;
}

.left-coll.hover, 
.right-coll.hover {
	background: #515151;
	color: white;
	cursor: pointer;
}

.collapsable.hover {
	background: #515151 !important;
}

.collapsable.hidden {
	display: none !important;
}