html, body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
}

#ast, #content, #log {
	white-space: pre;
	padding: 1em;
	background: whitesmoke;
	color: #171717;
	font-size: 11px;
}

#content {
	background: #ffffaa;
}

#log {
	background: #424242;
    color: whitesmoke;
}
