html, body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
}

#ast, #vdom, #content, #log {
	white-space: pre;
	padding: 1em;
	background: whitesmoke;
	color: #171717;
	font-size: 11px;
}

#ast {
	display: none;
}

#vdom {
	background: white;
	display: none;
}

#content {
	background: #ffffaa;
	font-size: 14px;
	overflow: auto;
    max-height: 400px;
}

#log {
	background: #424242;
    color: whitesmoke;
}

#log .info {
	display: none;
}

#log .warning {
	color: orange;
}