html, body {
	margin: 0;
	padding: 0;
	border: none;
	font-family: Menlo,Monaco,Consolas,"Andale Mono","lucida console","Courier New",monospace;
	background: #2D2D2D;
}

#ast, #vdom, #content, #log {
	white-space: pre;
	padding: 1em;
	background: whitesmoke;
	color: #171717;
	font-size: 11px;
}

#ast {
	display: none;
}

#vdom {
	background: white;
	display: none;
}

#content {
	color: #CCCCCC;
	font-size: 16px;
	/*overflow: auto;*/
    /*max-height: 400px;*/
	background: #2D2D2D;
}

#log {
	background: #424242;
    color: whitesmoke;
}

#log:empty {
	display: none;
}

#log .info {
	display: none;
}

#log .warning {
	color: orange;
}